@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  background: url("https://www.mosafil.ie/media/images/org/I35716_tm324-mosaikfliesen-keramik-mosaik-hexagon-schwarz-ma.jpg");
}
.App {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: white;
}

input {
  font-family: "Quicksand", sans-serif;
  color: white;
  padding: 0.5rem 0.5rem;
  background: grey;
  border-radius: 1rem;
  outline: none;
}
